# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jkatunguka\Desktop\JK\Compro\ASD\patterns\Observer and Command patterns\counterWithObserverAndCommand\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
